<!DOCTYPE html>
<html lang="en">
<!--begin::Head-->
<head>
    <base href="/">
    <title>Error 404</title>
    <meta charset="utf-8"/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!--begin::Fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700"/>
    <!--end::Fonts-->
    <!--begin::Global Stylesheets Bundle(used by all pages)-->
    <link rel="stylesheet" href="/assets/css/style.bundle.css" >
    <link href="assets/css/style.custom.css" rel="stylesheet" type="text/css" />
    <!--end::Global Stylesheets Bundle-->
</head>
<!--end::Head-->
<!--begin::Body-->
<body id="kt_body" class="" style="">
<!--begin::Main-->
<div class="d-flex flex-column flex-root">

    <div class="page d-flex flex-row flex-column-fluid">

        <div class="wrapper d-flex flex-column flex-row-fluid" id="kt_wrapper">
            <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
                <div class="d-flex flex-column-fluid ">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="card card-bordered shadow-sm">
                                    <div class="card-header">
                                        <div class="card-title">Página no encontrada</div>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-12">
                                                <img src="assets/media/illustrations/unitedpalms-1/18.png" alt="" class="mw-100 mb-10 h-lg-450px" />
                                                <h1 class="fw-bold mb-10" style="color: #A3A3C7">Pagina no encontrada</h1>
                                                <a href="/" class="btn btn-primary">Regresar</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!--end::Main-->
<script>var hostUrl = "assets/";</script>
<script src="assets/plugins/global/plugins.bundle.js"></script>
<script src="assets/js/scripts.bundle.js"></script>
</body>
</html>