<base href="/">
<title>mye 1.0</title>
<meta charset="utf-8"/>
<meta name="referrer" content="origin-when-cross-origin" />
<meta property="og:site_name" content="RainForest"/>
<meta property="og:title" content="RainForest Alliance"/>
<meta name="description" content="Aplicacion para la evaluación y monitoreo de proyectos "/>
<meta name="keywords" content="mye"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<meta property="og:locale" content="es_GT"/>
<meta property="og:type" content="website"/>
<meta property="og:url" content="https://mye.sonivitac.com"/>
<link rel="canonical" href="https://mye.sonivitac.com"/>
<link rel="shortcut icon" href="/assets/media/logos/favicon.ico"/>
<!--begin::Fonts-->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700"/>
<!--end::Fonts-->

<!--begin::Page Vendor Stylesheets(used by this page)-->
<link href="/assets/plugins/custom/fullcalendar/fullcalendar.bundle.css" rel="stylesheet" type="text/css" crossorigin="anonymous" />
<link href="/assets/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css" crossorigin="anonymous" />
<!--end::Page Vendor Stylesheets-->

<!--begin::Global Stylesheets Bundle(used by all pages)-->
<link href="/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" crossorigin="anonymous"/>
<link href="/assets/css/style.bundle.css" rel="stylesheet" type="text/css" crossorigin="anonymous"/>
<!--end::Global Stylesheets Bundle-->
<link href="/assets/css/style.custom.css" rel="stylesheet" type="text/css" crossorigin="anonymous"/>